@media screen and (max-width: 1200px) {
  .footer__partners {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__copyright {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 800px) {
  .footer__partners > li {
    height: 25px;
  }
}

@media screen and (max-width: 855px) {
  .popup__content {
    max-width: 100%;
    max-height: 90vw;
    background-size: 130%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .popup__title,
  .popup__text .color-yellow {
    font-size: 5.8vw;
  }

  .popup__title {
    margin-bottom: 5px;
  }

  .popup__text {
    font-size: 18px;
    font-size: 4.3vw;
    padding: 0;
  }

  .popup__text .color-yellow {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .popup__button {
    min-width: 190px;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 4.3vw;
    margin-top: 8px;
  }
}

@media screen and (max-width: 500px) {
  .wheel__wrap {
    background: url('../images/wheel-bg.png') no-repeat center center/auto 95%;
  }
}

@media screen and (max-width: 450px) {
  .wheel__button {
    font-size: -webkit-calc(100vw/20);
    font-size: -moz-calc(100vw/20);
    font-size: calc(100vw/20);
  }
  .wheel__arrow-fg {
    max-height: 61px;
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
  }
  .footer__partners > li {
    height: 15px;
    margin: 0px 5px 18px 5px;
  }
  .copyright__logo {
    max-height: 30px;
    margin: 20px 10px 0px 10px;
  }
}

@media screen and (max-width: 415px) {
  body {
    background: url("../images/main-bg-mob.png") no-repeat top center, #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .header__logo > img {
    width: auto;
    max-height: 10vh;
  }
  .wheel {
    padding: 12vh 6vw 2vh 6vw;
  }
  .wheel__arrow-fg {
    max-height: 47px;
    left: -webkit-calc(50% - 20px);
    left: -moz-calc(50% - 20px);
    left: calc(50% - 20px);
    top: 2%;
  }
  .footer__partners {
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer__partners > li {
    height: 18px;
  }
  .footer__copyright {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 375px) {
  .wheel__wrap {
    background: url('../images/wheel-bg.png') no-repeat center center/auto 90%;
  }
}